@font-face {
  font-family: norse;
  src: url(NB.ttf);
}

/* line 9, F:/PROGRAMING/Viking/sass/style.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, F:/PROGRAMING/Viking/sass/style.sass */
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-image: url(vec.png);
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* line 22, F:/PROGRAMING/Viking/sass/style.sass */
.container {
  width: 90%;
  margin: 0 auto;
}

/* line 25, F:/PROGRAMING/Viking/sass/style.sass */
header {
  clear: both;
  width: 100%;
  margin: 0 auto;
  font-size: 0;
  background: rgba(246, 201, 43, 0.4);
  border: 9px solid #1a3c00;
  border-left: 0;
  border-right: 0;
}

/* line 34, F:/PROGRAMING/Viking/sass/style.sass */
header img {
  display: inline-block;
  height: 200px;
  width: 20%;
  border-radius: 150px;
}

/* line 39, F:/PROGRAMING/Viking/sass/style.sass */
.logo {
  display: inline-block;
  height: 200px;
  vertical-align: top;
  width: 50%;
}

/* line 44, F:/PROGRAMING/Viking/sass/style.sass */
.logo h1 {
  width: 100%;
  vertical-align: top;
  position: relative;
  margin: 0;
  top: 5%;
  font-size: 150px;
  text-align: center;
  font-family: norse;
  color: #1a3c00;
  text-shadow: #f5c828 -9px 9px 1px;
}

/* line 55, F:/PROGRAMING/Viking/sass/style.sass */
#amb {
  display: none;
  height: 50px;
  position: absolute;
  vertical-align: top;
  left: 0;
  text-align: left;
  padding-left: 10px;
  font-weight: 500;
  text-decoration: none;
  font-size: 24px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  color: #1a3c00;
  background: none;
  border: 0;
  width: 100%;
}

/* line 72, F:/PROGRAMING/Viking/sass/style.sass */
#amb:first-letter {
  font-size: 30px;
  font-weight: 700;
}

/* line 75, F:/PROGRAMING/Viking/sass/style.sass */
#amb:hover {
  background: rgba(246, 201, 43, 0.9);
}

/* line 77, F:/PROGRAMING/Viking/sass/style.sass */
.menu {
  background: #fff;
  font-size: 0;
}

/* line 80, F:/PROGRAMING/Viking/sass/style.sass */
.menu ul {
  padding: 0;
  width: 100%;
  font-size: 0;
  display: inline-block;
}

/* line 85, F:/PROGRAMING/Viking/sass/style.sass */
.menu ul li {
  font-size: 0;
  display: inline-block;
  width: 20%;
  text-align: center;
}

/* line 90, F:/PROGRAMING/Viking/sass/style.sass */
.menu ul li a {
  height: 50px;
  padding: 9px;
  display: inline-block;
  width: 100%;
  font-weight: 500;
  text-decoration: none;
  font-size: 24px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  color: #1a3c00;
}

/* line 101, F:/PROGRAMING/Viking/sass/style.sass */
.menu ul li a:first-letter {
  font-size: 30px;
  font-weight: 700;
}

/* line 104, F:/PROGRAMING/Viking/sass/style.sass */
.menu ul li a:hover {
  background: rgba(246, 201, 43, 0.9);
}

/* line 106, F:/PROGRAMING/Viking/sass/style.sass */
.media {
  display: inline-block;
  height: 100%;
  width: 30%;
  vertical-align: top;
  font-family: norse;
}

/* line 112, F:/PROGRAMING/Viking/sass/style.sass */
.media ul {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

/* line 117, F:/PROGRAMING/Viking/sass/style.sass */
.media ul li {
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

/* line 122, F:/PROGRAMING/Viking/sass/style.sass */
.media ul li a {
  display: inline-block;
  font-size: 50px;
  text-decoration: none;
  color: #1a3c00;
  height: 100%;
  width: 100%;
}

/* line 129, F:/PROGRAMING/Viking/sass/style.sass */
.media ul li:hover {
  background: rgba(246, 201, 43, 0.4);
}

/* line 131, F:/PROGRAMING/Viking/sass/style.sass */
.main {
  text-align: center;
}

/* line 133, F:/PROGRAMING/Viking/sass/style.sass */
.main h3 {
  margin: 0;
  padding: 10px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 26px;
  background: #1a3c00;
  color: #f6c92b;
  font-weight: 700;
}

/* line 141, F:/PROGRAMING/Viking/sass/style.sass */
.main-wrapp {
  display: inline-block;
  font-size: 0;
  background: rgba(246, 201, 43, 0.4);
}

/* line 145, F:/PROGRAMING/Viking/sass/style.sass */
.main-wrapp img {
  width: 100%;
  display: inline-block;
  border-top: 0;
}

/* line 149, F:/PROGRAMING/Viking/sass/style.sass */
.text-main {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 35px;
  padding: 20px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

/* line 156, F:/PROGRAMING/Viking/sass/style.sass */
.text-main h4 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

/* line 160, F:/PROGRAMING/Viking/sass/style.sass */
.text-main p {
  padding: 0 1%;
  text-indent: 20px;
  margin: 0;
  text-align: justify;
}

@media screen and (max-width: 1280px) {
  /* line 170, F:/PROGRAMING/Viking/sass/style.sass */
  .logo {
    width: 50%;
    padding: 0;
  }
  /* line 173, F:/PROGRAMING/Viking/sass/style.sass */
  .logo h1 {
    font-size: 125px;
  }
  /* line 175, F:/PROGRAMING/Viking/sass/style.sass */
  .media {
    width: 30%;
  }
  /* line 177, F:/PROGRAMING/Viking/sass/style.sass */
  .media a {
    font-size: 25px;
  }
}

@media screen and (max-width: 1024px) {
  /* line 182, F:/PROGRAMING/Viking/sass/style.sass */
  .logo {
    width: 80%;
  }
  /* line 184, F:/PROGRAMING/Viking/sass/style.sass */
  .logo h1 {
    font-size: 130px;
  }
  /* line 186, F:/PROGRAMING/Viking/sass/style.sass */
  .media {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /* line 190, F:/PROGRAMING/Viking/sass/style.sass */
  .main {
    margin-top: 50px;
    clear: both;
  }
  /* line 193, F:/PROGRAMING/Viking/sass/style.sass */
  #amb {
    display: block;
    background: #f6c92b;
  }
  /* line 196, F:/PROGRAMING/Viking/sass/style.sass */
  .menu {
    float: left;
    z-index: 100;
    position: relative;
    left: 0;
    top: 50px;
    width: 30%;
    height: 0;
  }
  /* line 205, F:/PROGRAMING/Viking/sass/style.sass */
  .menu ul li {
    width: 100%;
    background: rgba(246, 201, 43, 0.9);
    text-align: left;
  }
  /* line 210, F:/PROGRAMING/Viking/sass/style.sass */
  header img {
    width: 25%;
    margin: 0;
  }
  /* line 213, F:/PROGRAMING/Viking/sass/style.sass */
  header .logo {
    width: 75%;
  }
  /* line 215, F:/PROGRAMING/Viking/sass/style.sass */
  header .logo h1 {
    font-size: 120px;
  }
  /* line 217, F:/PROGRAMING/Viking/sass/style.sass */
  header .logo h2 {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  /* line 222, F:/PROGRAMING/Viking/sass/style.sass */
  header img {
    width: 30%;
  }
  /* line 224, F:/PROGRAMING/Viking/sass/style.sass */
  header .logo {
    width: 70%;
  }
  /* line 226, F:/PROGRAMING/Viking/sass/style.sass */
  header .logo h1 {
    line-height: 0.8;
    font-size: 100px;
  }
}

@media screen and (max-width: 320px) {
  /* line 232, F:/PROGRAMING/Viking/sass/style.sass */
  header img {
    display: none;
  }
  /* line 234, F:/PROGRAMING/Viking/sass/style.sass */
  header .logo {
    width: 100%;
  }
}

/*# sourceMappingURL=../css/style.map */